In [18]:
import pandas as pd 

df = pd.read_csv(r"C:\Users\Sid\Downloads\dummy_insurance_data.csv")

In [19]:
df_copy = df 
df_copy

    age  weight  height  ...       city      occupation insurance_premium_category
0    21  114.48  197.21  ...      Delhi  business_owner                     Medium
1    22   84.91  154.16  ...    Chennai      unemployed                     Medium
2    65   55.56  185.82  ...    Chennai  business_owner                       High
3    78   65.06  193.48  ...       Pune      unemployed                        Low
4    52  113.40  159.26  ...       Pune         retired                        Low
..  ...     ...     ...  ...        ...             ...                        ...
95   73   67.50  184.39  ...  Hyderabad  business_owner                       High
96   67   49.26  180.28  ...  Bangalore         retired                       High
97   55   81.19  185.61  ...       Pune  business_owner                        Low
98   59   87.55  198.08  ...    Chennai  business_owner                       High
99   69   62.49  152.22  ...     Mumbai  government job                        Low

[100 rows x 8 columns]

In [20]:
df_copy["bmi"] = df["weight"] / (df["height"] **2)

In [21]:
df_copy

    age  weight  height  ...      occupation  insurance_premium_category       bmi
0    21  114.48  197.21  ...  business_owner                      Medium  0.002944
1    22   84.91  154.16  ...      unemployed                      Medium  0.003573
2    65   55.56  185.82  ...  business_owner                        High  0.001609
3    78   65.06  193.48  ...      unemployed                         Low  0.001738
4    52  113.40  159.26  ...         retired                         Low  0.004471
..  ...     ...     ...  ...             ...                         ...       ...
95   73   67.50  184.39  ...  business_owner                        High  0.001985
96   67   49.26  180.28  ...         retired                        High  0.001516
97   55   81.19  185.61  ...  business_owner                         Low  0.002357
98   59   87.55  198.08  ...  business_owner                        High  0.002231
99   69   62.49  152.22  ...  government job                         Low  0.002697

[100 rows x 9 columns]

In [22]:
def age_group(age):
    if age<=18:
        return "young"
    elif age<45:
        return "adult"
    elif age<60:
        return "middle_aged"
    else:
        return "senior"

In [23]:
df_copy["age_group"]= df_copy["age"].apply(age_group)

In [24]:
def lifestyle_risk(row):
    if row["smoker"] == True and row["bmi"] > 30:
        return "High"
    elif row["smoker"] == True and row["bmi"] >27:
        return "Medium"
    else:
        return "low"

In [25]:
df_copy["lifestyle_risk"] = df_copy.apply(lifestyle_risk,axis=1)

In [26]:
df_copy

    age  weight  height  ...       bmi    age_group lifestyle_risk
0    21  114.48  197.21  ...  0.002944        adult            low
1    22   84.91  154.16  ...  0.003573        adult            low
2    65   55.56  185.82  ...  0.001609       senior            low
3    78   65.06  193.48  ...  0.001738       senior            low
4    52  113.40  159.26  ...  0.004471  middle_aged            low
..  ...     ...     ...  ...       ...          ...            ...
95   73   67.50  184.39  ...  0.001985       senior            low
96   67   49.26  180.28  ...  0.001516       senior            low
97   55   81.19  185.61  ...  0.002357  middle_aged            low
98   59   87.55  198.08  ...  0.002231  middle_aged            low
99   69   62.49  152.22  ...  0.002697       senior            low

[100 rows x 11 columns]

In [27]:
tier1 = ['Mumbai','Pune','Banglore','Chennai']

def city_tier(city):
    if city in tier1:
        return 1
    else:
        return 2
    
df_copy['city'] = df_copy['city'].apply(city_tier)

In [28]:
df_copy

    age  weight  height  ...       bmi    age_group  lifestyle_risk
0    21  114.48  197.21  ...  0.002944        adult             low
1    22   84.91  154.16  ...  0.003573        adult             low
2    65   55.56  185.82  ...  0.001609       senior             low
3    78   65.06  193.48  ...  0.001738       senior             low
4    52  113.40  159.26  ...  0.004471  middle_aged             low
..  ...     ...     ...  ...       ...          ...             ...
95   73   67.50  184.39  ...  0.001985       senior             low
96   67   49.26  180.28  ...  0.001516       senior             low
97   55   81.19  185.61  ...  0.002357  middle_aged             low
98   59   87.55  198.08  ...  0.002231  middle_aged             low
99   69   62.49  152.22  ...  0.002697       senior             low

[100 rows x 11 columns]

In [29]:
df_copy.drop(columns=['age','weight','height','smoker'],inplace=True)

In [30]:
df_copy

    income_lpa  city      occupation  ...       bmi    age_group lifestyle_risk
0           13     2  business_owner  ...  0.002944        adult            low
1           22     1      unemployed  ...  0.003573        adult            low
2            6     1  business_owner  ...  0.001609       senior            low
3           33     1      unemployed  ...  0.001738       senior            low
4           47     1         retired  ...  0.004471  middle_aged            low
..         ...   ...             ...  ...       ...          ...            ...
95          39     2  business_owner  ...  0.001985       senior            low
96          38     2         retired  ...  0.001516       senior            low
97          18     1  business_owner  ...  0.002357  middle_aged            low
98          40     1  business_owner  ...  0.002231  middle_aged            low
99          37     1  government job  ...  0.002697       senior            low

[100 rows x 7 columns]

In [34]:
X = df_copy[['income_lpa','city','occupation','bmi','age_group','lifestyle_risk']]
Y = df_copy[['insurance_premium_category']]

In [35]:
X

    income_lpa  city      occupation       bmi    age_group lifestyle_risk
0           13     2  business_owner  0.002944        adult            low
1           22     1      unemployed  0.003573        adult            low
2            6     1  business_owner  0.001609       senior            low
3           33     1      unemployed  0.001738       senior            low
4           47     1         retired  0.004471  middle_aged            low
..         ...   ...             ...       ...          ...            ...
95          39     2  business_owner  0.001985       senior            low
96          38     2         retired  0.001516       senior            low
97          18     1  business_owner  0.002357  middle_aged            low
98          40     1  business_owner  0.002231  middle_aged            low
99          37     1  government job  0.002697       senior            low

[100 rows x 6 columns]

In [42]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report , accuracy_score
categorical_features = ["age_group","occupation","lifestyle_risk"]
numerical_features = ['income_lpa','city','bmi']

preprocessor = ColumnTransformer(
    transformers=[
        ("cat",OneHotEncoder(),categorical_features),
        ("num","passthrough",numerical_features)
    ]
)

In [43]:
pipeline = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("classifier",RandomForestClassifier(random_state=42))
])

In [44]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=1)
pipeline.fit(X_train,Y_train)

d:\Fast API\myvenv\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('cat', OneHotEncoder(),
                                                  ['age_group', 'occupation',
                                                   'lifestyle_risk']),
                                                 ('num', 'passthrough',
                                                  ['income_lpa', 'city',
                                                   'bmi'])])),
                ('classifier', RandomForestClassifier(random_state=42))])

In [45]:
y_pred = pipeline.predict(X_test)
accuracy_score(Y_test,y_pred)

0.35

In [47]:
import pickle
with open("model1.pkl","wb") as f:
    pickle.dump(pipeline,f)